{% extends "base.html" %}

{% block content %}
<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>
			<div class="col-md-7 col-sm-9">
				<h1>Artificial World</h1>
				
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="divider">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
					
					<h2>Quick Read</h2>
					<p> Do you want to know about new things without wasting time? Just Search here and get the summary of your result  which is powered by our AI </p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
				
					<h2>Summarize your article</h2>
					<p>If you have your own text that you want to Summarize to speed up your reading skill than you can just paste your text or website url.</p>
				</div>
			</div>
			
		</div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="../static/images/about-img.jpg" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des">
				<h2>Learn How It Works</h2>
				<p>All the algorithm are witen using python programming language and I have used some deep learnig algorithms to perfrom all the magic thats happining behind the scene</p>
				<p>Web app is created using flask which is one of the microframe work for creating a simple but powerfull web apps</p>
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
			


