<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/summarize" method="post">
        <label for="fname">Enter the post</label><br>
        <input type="text" id="fname" name="test" placeholder="Post"><br>
        <label for="uname">Enter the URL</label><br>
        <textarea name="web" maxlength="20000" placeholder="Paste your text article and click Summarize.. " style="margin: 10px; height: 292px; width: 917px;"></textarea>
        <input type="submit" value="Submit">
      </form> 
      <br>



      
      {{my_string}}
</body>
</html>
